
// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

ul.paginiation li {
	list-style-type: none;
	float: left;
}
ul.paginiation li a {
	border-bottom: none;
}