
// Test
section#banner {
	background: url('images/background.jpg')center center fixed;
	background-size: cover;

	div.inner {
		h2 {
			color: $yellow;
		}
	}
}

body.is-mobile.landing .wrapper.style4 {
	background: url('images/background.jpg')center center fixed;
	background-size: cover;
}

#main {

	 > header {
		background: url('images/background2.jpg')center center fixed;
		background-size: cover;
	}
}